@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  text-align: center;
  padding-bottom: 50px;
  background-color: #aeaeaf;
}

.App-header {
  background-color: #aeaeaf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

.App-link {
  color: #302eb2;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

#letter {
  max-width: 50vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.letter-image {
  max-width: 1440px;
}

#video {
  min-width: 100vw;
  justify-content: center;
}

.coffee-button {
  background-color: #aeaeaf;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 250px;
}
