.App {
  text-align: center;
  padding-bottom: 50px;
  background-color: #aeaeaf;
}

.App-header {
  background-color: #aeaeaf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #302eb2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

#letter {
  max-width: 50vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
