.App {
  text-align: center;
}

.App-header {
  background-color: #aeaeaf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #302eb2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
